<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/educacionculturaturismosb</property>
		<property name="connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Periodo" />
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.TipoActividad" />
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Actividad" />
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Planificacion" />
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.PlanificacionPeriodoActividad" />
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Sede"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Ambiente"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Horario"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Empleado"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Cronograma"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Material"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Recurso"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.PlanPublicitario"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Rol"/>
		<mapping class="com.muni.sanborja.educacionculturaturismo.modelo.Dia"/>
	</session-factory>
</hibernate-configuration>